/* Set the font family and font size for the entire page */
body {
  font-family: 'Gill Sans', sans-serif;
  font-size: 16px;
}

/* Set the background color of the page */
body {
  background-color: #FFF0F5;
}

/* Set the text color of the page */
body {
  color: black;
}

/* Set the font size and color of the heading */
h1 {
  font-size: 48px;
  color: #ea4c89;
  font-family: 'Georgia', serif;
}

/* Set the font size and color of the subheading */
h2 {
  font-size: 36px;
  color: #ea4c89;
  font-family: 'Georgia', serif;
}

/* Set the font size and color of the paragraph text */
p {
  font-size: 18px;
  color: black;
}

/* Set the font size and color of the link text */
a {
  font-size: 16px;
  color: #ed64a6;
  text-decoration: none;
}

/* Set the font size and color of the link text when hovered */
a:hover {
  color: #f472b6;
}

/* Custom design with class */

.container {
  width: 700px;
  margin: 40px auto;
  color: deeppink;
}

.card-white{
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.4);
  border-radius: 4px;
  margin:20px 200px;
  text-align: center;
}
.img-circle{ 
 border-radius: 50%;
}

.shadowed{
  box-shadow: 5px 5px 3px grey;
}

.btn-blue{
  background-color: deeppink;
  color: white;
  padding: 15px 20px;
  border-radius:4px ;
}

.btn-blue:hover{
   background-color: black;
  color: white;
}

.list-inline{
  list-style:none;
  padding-left: 0px;
}

.list-inline li {
  display: inline;
  padding: 10px;
}

.list-inline i {
  font-size: 50px;
  color: grey;
}

#introduction p {
  margin-bottom: 50px;
}